@using Bookstore.Services.DTOs;
@model IEnumerable<BookDisplayDTO>
@{

    ViewBag.Title = "Home Page";
}

<div class="row">
    <p>Books:</p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BookDisplayDTO book in @Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Price</td>
                    <td>@book.Author</td>
                </tr>
            }
        </tbody>
    </table>
</div>